.conteiner {
border: 1px solid #8E8E93;
border-radius: 13px;
}
.linhaSuperior {
display: flex;
justify-content: space-between;
}
.status {
    background-color: #D1DFEC;
    font: bold 13px/20px 'Roboto', sans-serif;
    color: #395895;
    display: flex;
    justify-content: center;
    border: #608EC9 solid 1px;
    border-radius: 15px;
    height: 20px;
    width: 80px;
    align-items: center;
}
.status::before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #395895;
    border-radius: 50%;
    margin-right: 5px;
}