.body{
    border: #888 1px solid;
    border-radius: 13px;
    padding: 15px;
    margin-bottom: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
    
}

.info-rota {
    font-family: sans-serif;
    font-size: 10px;
    color: #8E8E93;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nome-rota {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 800;
    color: #2c466b;
    margin: 0;
}

.atualizacao {
    font-size: 13px;
    color: #999;
    display: flex;
    align-items: center;
    gap: 5px;
}

.status {
    background-color: #dce7f3; /* Fundo azul bem clarinho */
    color: #2c466b; /* Texto azul escuro */
    border: 1px solid #b8cde4; /* Adicionada a bordinha fina que tem no seu desenho */
    padding: 3px 5px;
    border-radius: 20px; /* Bordas bem arredondadas */
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 3px;
}

.status::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #2c466b;
    border-radius: 50%;
}

.rota-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: stretch;
}

.rota-grafico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.circulo-origem {
    width: 14px;
    height: 14px;
    border: 3px solid #7a93b5;
    border-radius: 50%;
    background-color: white;
    box-sizing: border-box;
}

.linha-conectora {
    width: 3px;
    flex-grow: 1;
    background-color: #7a93b5;
    margin: 2px 0;
    min-height: 30px;
}

.circulo-destino {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #2c466b;
}


.rota-textos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  

.label-ponto {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #888;
    margin: 0;
    text-transform: uppercase;
}


.cidade-ponto {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin: 0;
}

.progresso-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.label-progresso, .porcentagem-progresso {
    font-family: sans-serif;
    font-size: 12px;
    color: #888;
    margin: 0;
}

.barra-progresso {
    width: 100%;
    height: 10px;
}